<div class="trainer-container">
  <h1>Trainer: {{ username }}</h1>
  <h2>Collected pokemons</h2>
  <div class="collected-container">
    <div
      class="pokemon-card"
      *ngFor="let card of pokemoncards"
      routerLink="/pokemon/{{ card.id }}"
    >
      <img src="{{card[0].pokemonImg}}" alt="pokemon-card" class="pokemon-sprite" />
      <p class="pokemon-title">{{ card[0].pokemonName }}</p>
      <p class="pokemon-type">Type: <span *ngFor="let type of card[0].pokemonType">{{type.type.name}} </span></p>
   

    </div>
  </div>
  <button type="button" routerLink="/catalogue">Collect more pokemons!</button>
</div>
