<div class="page-container">
    <div class="pokemon-card" id="pokemon-card">
        <div class="title bold">
            <div>{{pokemon.name}}</div>
            <div>{{pokemon.stats[0].base_stat}} HP</div>
        </div>
        <img src="{{pokemon.img}}" alt="">
        <div class="size-stats"> BE: {{pokemon.baseExp}} HT: {{pokemon.height}} WT: {{pokemon.weight}}</div>
        <div class="abilities">
            <div class="ability" *ngFor="let ability of abilities">
                <div class="attack bold center-align">{{ability.name}}</div>
                <div class="description"><p>{{ability.description}}</p></div> <!--fetch the correct info: fetch this ability and fetch this move-->
                <div class="border"></div>
            </div>
        </div>
        <button type="button" class="collect-btn" id="collect-btn" [disabled]="!loginStatus" (click)='addPokemonToUserCollection()'>Collect {{pokemon.name}}</button>
        <div class="base-stats-container">
            <div class="stat-item" *ngFor="let stat of pokemon.stats">
                <div class="stat-name bold">{{stat.stat.name}}: </div>
                <div class="stat-value">{{stat.base_stat}} </div>
            </div>
        </div>
    </div>
    <div class="moves-container">
        <h1>Moves for {{pokemon.name}}</h1>
        <div class="select-container">
            <select id="move-select" (change)="displayMoveInformation(selectedMove.value)" #selectedMove>
                <option value="{{move.move.url}}" *ngFor="let move of pokemon.moves">{{move.move.name}}</option>
            </select>
        </div>
        <table>
            <tr>
                <th>Type</th>
                <td id="moveType"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td id="description"></td>
            </tr>
            <tr>
                <th>Effect</th>
                <td id="effect"></td>
            </tr>
            <tr>
                <th>Accuracy</th>
                <td id="accuracy"></td>
            </tr>
            <tr>
                <th>Damage</th>
                <td id="damage"></td>
            </tr>
                       
        </table>
    </div>
    <button type="button" class="back-btn" (click)="goBack()">Go Back</button>
    <app-logout></app-logout>
</div>

