.login-container {
    input {
        width: 40%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba($color: teal, $alpha: 0.8);
        color: white;
        border: none;
        border-bottom: 2px solid black;
        font-size: 36px;
    }
    .error-message {
        color: red;
        position: absolute;
        font-weight: bold;
        left: 50%;
        top: 32%;
        transform: translateX(-50%);
    }
}