.login-container {
    display: grid;
    grid-template-columns: 30% 10%;
    column-gap: 10px;
    justify-content: center;
    margin-top: 25%;


    input {
        width: 100%;
        background-color: rgba($color: black, $alpha: 0.5);
        color: white;
        border: none;
        border-bottom: 2px solid black;
        font-size: 32px;

        &::placeholder {
            color: white;
        }
        &:focus {
            background-color: rgba($color: black, $alpha: 0.5);
        }
    }
}
.error-message {
    margin-top: 5px;
    text-align: center;
    color: red;
    font-weight: bold;
}