<div class="page-container">
  <div class="pokedex-container">
    <div class="trainer-route">Trainer:
      <button routerLink="/trainer">Trainer Page</button>
    </div>
    
    <h1>Pokédex</h1>
    <div class="pokedex-information">
      <div class="own-status">
        <h5>Own</h5>
        <img class="own-image" src="#" alt="" />
      </div>
      <div class="image-container">
        <img id="pokemon-image" src="" alt="" />
        <button type="button" id="details-btn" (click)="goToPokemon(this.currentPokemon)">See details</button>
      </div>
      <div class="list-container">
        <div class="list-item" 
          id="{{pokemon.name}}" 
          *ngFor="let pokemon of pokemons" 
          (click)="showPokemon(pokemon)"
        >
          <img class="sprite-image" src="{{pokemon.sprite}}" alt="pokemon"/>
          <div class="list-name">{{pokemon.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
