$border: 1px solid black;

.page-container{
}

.pokedex-container{
    margin: auto auto;
    border: 2px solid red;
    width: 65%;
    height: 600px;

    .trainer-route {
        font-size: 24px;
        position: absolute;
    }
    
    h1 {
        text-align: center;
    }

    .pokedex-information {
        display: grid; 
        grid-template-columns: repeat(3, auto);
        column-gap: 15px;
        justify-content: center;
    } 

    .own-status {
        border: $border;
        width: 200px;

        h5{
            text-align: center;
            border-bottom: 1px solid black;
            width:60%;
            margin: 10px auto;
            padding: 2px;
        }
    }

    .image-container {
        border: $border;
        width: 300px;

        #pokemon-image {
            border: $border;
            width: 250px;
            margin: 100px 25px;
        }
        #details-btn {
            display: none;
            margin:auto;
        }
    }

    .list-container {
        border: $border;
        width: 300px;
        padding: 5px;

        .list-item{
            border: 1px solid black;
            padding: 5px;
            display: flex;
            flex-direction: row;
            margin-bottom: 2px;
            cursor: pointer;

            &:hover {
                background-color: #ddd;
            }

            .list-name {
                font-size: 20px;
                line-height: 20px;
                margin: auto 0;
            }
        }

        .active {
            background-color: #fff;
        }

        .sprite-image {
                width: 35px;
                height: 35px;
        }
    }
    
}