$border: 1px solid black;

@font-face {
    font-family: 'Pokemon Solid Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Pokemon Solid Normal'), url('../../../assets/fonts/Pokemon\ Solid.woff') format('woff');
}

.pokedex-container{
    margin: 50px auto;
    width: 700px;
    height: 650px;
    border-radius: 10px;
    background-color: rgba($color: #000000, $alpha: 0.2);

    .pokedex-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        .pokedex-title {
            text-align: center;
            font-weight: lighter;
            -webkit-text-fill-color:#FFDE00; 
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #3B4CCA;
            letter-spacing: 3px;
            font-size: 40px;
            font-family: 'Pokemon Solid Normal';
            margin: 0;
        }
        .pokedex-btns {
            margin-top: 50px;
        }
    }
    
    
    

    .pokedex-information {
        display: grid; 
        grid-template-columns: repeat(2, auto);
        column-gap: 15px;
        justify-content: center;
    } 
    
    .image-container {
        border-radius: 10px;
        background-color: rgba($color: #000000, $alpha: 0.2);
        width: 300px;

        #pokemon-image {
            border-radius: 10px;
            background-color: rgba($color: #000000, $alpha: 0.2);
            width: 250px;
            height: 250px;
            margin: 100px 25px 50px 25px;
        }
        #details-btn {
            display: none;
            margin: 0 auto;
        }
    }

    .list-container {
        border-radius: 10px;
        background-color: rgba($color: #000000, $alpha: 0.2);
        width: 300px;
        color: white;
        padding: 5px;

        .list-item{
            border-radius: 10px;
            background-color: rgba($color: #000000, $alpha: 0.2);
            padding: 5px;
            display: flex;
            flex-direction: row;
            margin-bottom: 2px;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                background-color: #ddd;
                color: black;
            }

            .list-name {
                font-size: 20px;
                line-height: 20px;
                margin: auto 0;
            }
        }

        .active {
            background-color: #fff;
            color: black;
        }

        .sprite-image {
                width: 35px;
                height: 35px;
        }
    }
    
}