/* You can add global styles to this file, and also import other style files */
body {
    background: #888;
    font: 10px;
    font-family: 'pokemon-font', monospace;
}

button {
    background-color: #CC0000;
    color:white;
    transition: 0.5s ease-in-out;
    font-family: 'pokemon-font', monospace;
    cursor: pointer;
    padding:10px;
    border-radius:4px;
    &:hover{
        background-color: #FF0000;
        color:white;
    }
    &:disabled {
        background-color: rgba($color: #CC0000, $alpha: 0.6);
        cursor: unset;
    }
}

